button{
    width: 90px;
    font-size: 15px;
    margin-bottom: 5px;
    background:  rgb(252,197,13);
    color: rgba(0, 0, 0, 0.8);
    border: none;
    font-weight: bold;
    border-radius: 15px;
    height: 1.3em;
    margin-right: 20px;
    box-shadow:  2px 2px 2px rgba(138, 124, 73);
    

}

button:hover{
    cursor: pointer;
    background:  rgba(252,197,13,0.7);
}