.Logo{
    height: 90%;
    
}

.logoIMG{
    width: 70%;
    cursor: pointer;
}

/*media Queries for responsive design*/

@media (max-width: 600px){

  
    .logoIMG{
        width: 85%;
        cursor: pointer;
    }
  }