@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Yanone+Kaffeesatz:wght@700&display=swap');


.carousel{
    width: 90%;
    position: relative;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    
    margin-bottom: 10px;
    margin-left: 5%;
    
    
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    transition: background-image 1s;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
              
    
}

.summary{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 1.6em;
    
    
    
    
}

.summary .title{
    font-size: 50px;
    font-weight: bolder;
    color:  rgb(252,197,13);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-bottom: 10px;
}
.subTitle{
    color:rgb(252,197,13);
   
    font-weight: bolder;
    align-self: start;
    margin-right: 5px;
    
}
.divOverview{
    display: flex;

}
.genres{
    margin-bottom: 8px;
    align-self: flex-start;
}
.RDate{
    align-self: flex-start;
}
.infoOverview{
    
    margin-top: 3px;
    margin-bottom: 8px;
    text-align: justify;
}

.overview{
    background-color: rgb(0, 0, 0,0.7);
    color: white;
    display: flex;
    justify-content: space-around;
    margin-left: 70%;
    padding: 15px;
    z-index: 2500;

}


.carouselTitle{
    margin-left: 5%;
    background-color: rgb(0, 0, 0,0.7);
    padding: 5px;
    width: fit-content;

    font-size: 4em;
    font-weight: bolder;
    color:  rgb(252,197,13);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    border-top-right-radius:15px;

}
.thumbnail{
    position: absolute;
    bottom: 0px;
    background-color: rgb(0, 0, 0,0.5);
    padding: 10px;
    
    margin-left: 50%;
    
    transform: translate(-50%);
    
}


.subTitle span{
    font-size: 200px;
}


@media (max-width: 600px){

    .carousel{
        width: 100%;
        margin-left: 0px;
        height: 30vh;
          
    }

    .carouselTitle{
        margin-left: 0px;
        padding: 2px;
        font-size: 1.5em;
        border: 1px solid rgb(252,197,13);
        border-bottom-color: black;
    }

    .thumbnail,.divOverview, .genres{
        display: none;
    }
    .overview{
        padding: 5px;
        margin-left: 50%;
    }
    .summary{
        font-size: 0.8em;
    }
    .summary .title{
        font-size: 25px;
        margin-bottom: 5px;
    }
    .subTitle{
        font-size: 1.5em;
    }
  }