*{
  margin: 0;
  padding: 0;
}
.NavContainer{
  position: relative;
  
  
  display: flex;

  justify-content: center;
  margin-bottom: 50px;
  width: 100%;
  
}

.Nav{
  
  width: 50%;
  
  margin-left: 25%;
 
  
  
}
.buttons{
  
  width: 100px;
  height: 100px;
  margin-top: 20px;
  align-self: flex-start;
  margin-left: auto;
  
}

/*media Queries for responsive design*/

@media (max-width: 600px){
  .buttons{
    display: none;
  }

  .Nav{
    width: 100%;
    margin-left: 0px;
   
  }
}