.items{
    position: relative;
    border: 0.3px solid;
    border-color: rgb(195,151,9);
    height: auto;
    display: flex;
    background: rgb(41, 36, 15);

    z-index: 500;
    
    padding: 10px;
    margin-bottom: 5px;
    width: 80%;
    cursor: pointer;
    justify-content: space-around;
    border-top-right-radius: 30px;
    

}


.itemsPoster{
    width: 30%;
    border-radius: 10%;
   
}
.info{
    width: 60%;
    background: rgba(0,0,0,0.2);
    height: 50%;
    border-top-right-radius: 20px;
    padding: 10px;
    margin-top: 3em;

}
.info:hover{
    transform: scale(1.1); 
}
.info .title{
    color:  rgb(252,197,13);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2em;
    margin-bottom: 10px;
    
}

.star{
    margin-left: 15px;
    width: 3em;
     
}
.Ratings{
    font-weight: bolder;
    color: rgb(195,151,9);
    margin-top: 10px;
}
.info .date{
   color: rgb(195,151,9);
   margin-top: 5px;
   font-weight: bolder;
}

span{
    color:  rgb(252,197,13);
    font-size: 1.3em;
    margin-left: 5px;
}
.Rdiv{
    display: flex;
   
    justify-content: center;
}